source https://api.nuget.org/v3/index.json

nuget Newtonsoft.Json 6.0.8 restriction: >= net45
nuget JetBrains.Annotations 11.1.0 framework: net45, net461, netstandard2.0
nuget Shouldly 2.8.3 restriction: >= net45
nuget xunit 2.1.0 restriction: >= net45 
nuget xunit.runner.console 2.1.0 restriction: >= net45
nuget xunit.runner.visualstudio 2.1.0 version_in_path: true
nuget FAKE

nuget Microsoft.CodeAnalysis.Analyzers 1.1.0 restriction: >= portable45-net45+win8
nuget Microsoft.CodeAnalysis.Common 1.0.1 restriction: >= portable45-net45+win8
nuget Microsoft.CodeAnalysis.CSharp 1.0.1 restriction: >= portable45-net45+win8
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.0.1 restriction: >= portable45-net45+win8
nuget Microsoft.CodeAnalysis.Workspaces.Common 1.0.1 restriction: >= portable45-net45+win8
nuget Microsoft.Composition 1.0.27 restriction: >= portable45-net45+win8
nuget System.Collections.Immutable 1.1.36 restriction: >= portable45-net45+win8
nuget System.Reflection.Metadata 1.0.21 restriction: >= portable45-net45+win8