source https://api.nuget.org/v3/index.json

nuget Newtonsoft.Json 12.0.2 
nuget JetBrains.Annotations 11.1.0
nuget Shouldly 2.8.3
nuget xunit 2.1.0
nuget xunit.runner.console 2.1.0
nuget xunit.runner.visualstudio 2.1.0 version_in_path: true
nuget FAKE

nuget Microsoft.CodeAnalysis.Analyzers 
nuget Microsoft.CodeAnalysis.Common 
nuget Microsoft.CodeAnalysis.CSharp 
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 
nuget Microsoft.CodeAnalysis.Workspaces.Common 
nuget Microsoft.Composition 
nuget System.Collections.Immutable >= 1.2
nuget System.Reflection.Metadata >= 1.2